@model Student.DTO.StudentInfoDTO

@{
    ViewData["Title"] = "学生信息详情";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Nation)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nation)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.EnrollmentDT)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.EnrollmentDT)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DepartId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DepartName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.IdentityCard)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.IdentityCard)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Photos)
            </dt>
            <dd class="col-sm-9">
                <img src="@Html.DisplayFor(model => model.Photos)" width="120" />
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Status)
            </dd>
        </dl>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        //修改窗口标题
        parent.$('.layui-layer-title').html('@ViewData["Title"]');
    </script>
}